* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

button, input {
  border: none;
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home .visual-text-wrapper {
  position: absolute;
  z-index: 101;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.home .visual-text-wrapper h1 {
  font-family: 'SF Pro Display';
  font-weight: 800;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
}

.home .visual-text-wrapper h1 span {
  display: inline-block;
}

.home .visual-text-wrapper p {
  margin-top: 12px;
  font-family: 'SF Pro Display';
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
}

.home .shutters {
  position: absolute;
  z-index: 100;
  top: 0;
  display: none;
  width: 1440px;
  height: 900px;
  overflow: hidden;
}

.home .shutters .shutter {
  width: 25%;
  height: 100%;
  background-color: #000000;
  transform: translateY(100%);
}

.home .creative-mask-wrapper {
  position: absolute;
  z-index: 98;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.home .creative-mask-wrapper .creative-mask {
  width: 100%;
  height: 100%;
  background-image: url(../images/hero-cover.jpg);
  background-position: center;
  background-size: 100% auto;
  clip-path: url(#creative-clip-path);
}

.home .creative-mask-svg {
  position: absolute;
  top: 0;
}

.home .creative-mask-svg #creative-path {
  transform-origin: center;
  transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1);
}

.home .nav {
  position: absolute;
  z-index: 101;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  padding: 0 200px;
  width: 100%;
  font-family: 'SF Pro Display';
  font-weight: 700;
  color: #ffffff;
  opacity: 0;
}

.home .nav a {
  font-size: 24px;
}

.home .nav ul {
  display: flex;
}

.home .nav ul li:not(:first-child) {
  margin-left: 100px;
}

.home .nav ul li a {
  font-size: 16px;
}

.home .scroll-indicator {
  box-sizing: content-box;
  position: absolute;
  z-index: 102;
  bottom: 10%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  background-clip: content-box;
  opacity: 0;
  transform: translateX(-50%);
}

.home .heading-wrapper {
  position: absolute;
  z-index: 103;
  display: none;
  width: 100%;
  text-align: center;
  transform: translateY(395px);
}

.home .heading-wrapper h2 {
  font-family: 'SF Pro Display';
  font-weight: 800;
  font-size: 70px;
  line-height: 78px;
  color: #000000;
  opacity: 0;
}

.home .heading-wrapper p {
  margin-top: 20px;
  font-family: 'SF Pro Display';
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.home .heading-wrapper button {
  margin-top: 30px;
  padding: 14px 25px;
  border-radius: 4px;
  background-color: #3340ff;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  opacity: 0;
}

.home .works {
  overflow: scroll hidden;
  z-index: 103;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
}

.home .works .work {
  overflow: hidden;
  flex-shrink: 0;
  margin: 0 24px 50px;
  width: 315px;
  height: 420px;
  border-radius: 8px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.home .works .work:first-child {
  margin-left: 0;
}

.home .works .work:last-child {
  margin-right: 0;
}

.home .works .work img {
  width: 100%;
}

.initial-state .visual-text-wrapper {
  display: flex;
  opacity: 1;
}

.initial-state .visual-text-wrapper h1 span {
  opacity: 0;
  transform: translateY(110px);
}

.initial-state .visual-text-wrapper p {
  opacity: 0;
  transform: translateY(70px);
}

.initial-state .shutters {
  display: flex;
}

.initial-state .shutters .shutter {
  transform: translateY(0);
}

.visual-text-wrapper-show-state .visual-text-wrapper {
  display: flex;
  opacity: 1;
}

.visual-text-wrapper-show-state .visual-text-wrapper h1 span {
  opacity: 1;
  transform: translateY(0);
}

.visual-text-wrapper-show-state .visual-text-wrapper h1 span:first-child {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);
}

.visual-text-wrapper-show-state .visual-text-wrapper h1 span:last-child {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.2s;
}

.visual-text-wrapper-show-state .visual-text-wrapper p {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.6s;
}

.visual-text-wrapper-show-state .shutters {
  display: flex;
}

.visual-text-wrapper-show-state .shutters .shutter {
  transform: translateY(0);
}

.shutters-hide-state .visual-text-wrapper {
  display: flex;
  opacity: 1;
}

.shutters-hide-state .shutters {
  display: flex;
}

.shutters-hide-state .shutters .shutter {
  transform: translateY(100%);
}

.shutters-hide-state .shutters .shutter:nth-child(1) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);
}

.shutters-hide-state .shutters .shutter:nth-child(2) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.1s;
}

.shutters-hide-state .shutters .shutter:nth-child(3) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.2s;
}

.shutters-hide-state .shutters .shutter:nth-child(4) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
}

.shutters-hide-state .creative-mask-wrapper .creative-mask {
  background-size: 125% auto;
  clip-path: url(#creative-clip-path);
  transition: all 3s cubic-bezier(0.64, 0.04, 0.35, 1) 0.2s;
}

.shutters-hide-state .creative-mask-svg #creative-path {
  transform: translate(50vw, 50vh) translate(-50%, -50%) scale(42);
}

.shutters-hide-state .nav {
  opacity: 1;
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);
}

.shutters-hide-state .scroll-indicator {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.64, 0.04, 0.35, 1) 1s;
  animation: scroll-indicator-animation 4s linear 0s infinite;
}

@keyframes scroll-indicator-animation {
  0% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
}

.creative-mask-show-state .visual-text-wrapper {
  display: flex;
  opacity: 0;
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);
}

.creative-mask-show-state .creative-mask-wrapper .creative-mask {
  background-size: 100% auto;
  clip-path: url(#creative-clip-path);
  transition: all 4s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
}

.creative-mask-show-state .creative-mask-svg #creative-path {
  transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1);
  transition: all 4s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
}

.creative-mask-show-state .nav {
  transform: translateY(20px);
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);
}

.creative-mask-show-state .heading-wrapper {
  display: block;
}

.creative-mask-show-state .heading-wrapper h2, .creative-mask-show-state .heading-wrapper p, .creative-mask-show-state .heading-wrapper button {
  transform: translateY(150px);
}

.creative-mask-show-state .works {
  display: flex;
  transform: translateY(820px);
}

.creative-mask-show-state .works .work {
  opacity: 0;
  transform: translateY(110px);
}

.heading-wrapper-show-state .creative-mask-wrapper {
  transform: translateY(-228px);
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);
}

.heading-wrapper-show-state .heading-wrapper {
  display: block;
}

.heading-wrapper-show-state .heading-wrapper h2,
.heading-wrapper-show-state .heading-wrapper p,
.heading-wrapper-show-state .heading-wrapper button {
  opacity: 1;
  transform: translateY(0);
}

.heading-wrapper-show-state .heading-wrapper h2 {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.3s;
}

.heading-wrapper-show-state .heading-wrapper p {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.4s;
}

.heading-wrapper-show-state .heading-wrapper button {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.5s;
}

.heading-wrapper-show-state .nav {
  align-items: baseline;
  margin: 0;
  padding: 6px 200px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  color: #000000;
  animation: nav-transition 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.5s 1 forwards;
}

.heading-wrapper-show-state .nav a {
  font-size: 20px;
}

.heading-wrapper-show-state .nav ul li a {
  font-weight: normal;
  font-size: 16px;
}

.heading-wrapper-show-state .works {
  display: flex;
  transform: translateY(820px);
}

.heading-wrapper-show-state .works .work {
  opacity: 1;
  transform: translateY(0);
}

.heading-wrapper-show-state .works .work:nth-child(1) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.6s;
}

.heading-wrapper-show-state .works .work:nth-child(2) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.7s;
}

.heading-wrapper-show-state .works .work:nth-child(3) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.8s;
}

.heading-wrapper-show-state .works .work:nth-child(4) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0.9s;
}

.heading-wrapper-show-state .works .work:nth-child(5) {
  transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1) 1s;
}

@keyframes nav-transition {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */