.creative-mask-show-state {
  .visual-text-wrapper {
    opacity: 0;
    transition: all 1s $ease-both;
  }

  .creative-mask-wrapper {
    .creative-mask {
      background-size: 100% auto;
      clip-path: url(#creative-clip-path);
      transition: all 4s $ease-both 0.3s;
    }
  }

  .creative-mask-svg  #creative-path {
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1);
    transition: all 4s $ease-both 0.3s;
  }

  .nav {
    transform: translateY(20px);
    transition: all 1s $ease-both;
  }

  .heading-wrapper {
    display: block;
  }

  .works {
    display: flex;
    transform: translateY(930px);
  }
}