.creative-mask-show-state {
  .visual-text-wrapper {
    display: flex;
    opacity: 0;
    transition: all 1s $ease-both;
  }

  .creative-mask-wrapper {
    .creative-mask {
      background-size: 100% auto;
      clip-path: url(#creative-clip-path);
      -webkit-clip-path: url(#creative-clip-path);
      transition: all 4s $ease-both 0.3s;
    }
  }

  .creative-mask-svg  #creative-path {
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1);
    transition: all 4s $ease-both 0.3s;

    @media screen and (max-width: $root-width) {
      transform: translate(50vw, 50vh) translate(-50%, -50%) scale(var(--clip-path-initial-scale));
    }
  }

  .nav {
    transform: translateY(20px);
    transition: all 1s $ease-both;
  }

  .heading-wrapper {
    display: block;

    h2, p, button {
      transform: translateY(150px);
    }
  }

  .works {
    display: flex;

    .work {
      opacity: 0;
      transform: translateY(930px);
    }
  }
}