.heading-wrapper-show-state {
  .creative-mask-wrapper {
    transform: translateY(-228px);
    transition: all 1s $ease-both;
  }

  .heading-wrapper {
    display: block;

    h2,
    p,
    button {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      transition: all 1s $ease-both 0.3s;
    }

    p {
      transition: all 1s $ease-both 0.4s;
    }

    button {
      transition: all 1s $ease-both 0.5s;
    }
  }

  .nav {
    align-items: baseline;
    margin: 0;
    padding: 6px 200px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    color: #000000;
    animation: nav-transition 1s $ease-both 0.5s 1 forwards;

    a {
      font-size: 20px;
    }

    ul li a {
      font-weight: normal;
      font-size: 16px;
    }
  }

  .works {
    display: flex;

    .work {
      opacity: 1;
      transform: translateY(820px);

      &:nth-child(1) {
        transition: all 1s $ease-both 0.6s;
      }

      &:nth-child(2) {
        transition: all 1s $ease-both 0.7s;
      }

      &:nth-child(3) {
        transition: all 1s $ease-both 0.8s;
      }

      &:nth-child(4) {
        transition: all 1s $ease-both 0.9s;
      }

      &:nth-child(5) {
        transition: all 1s $ease-both 1s;
      }
    }
  }
}

@keyframes nav-transition {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
