.initial-state {
  .visual-text-wrapper {
    display: flex;
    opacity: 1;

    h1 {
      span {
        opacity: 0;
        transform: translateY(110px);
      }
    }

    p {
      opacity: 0;
      transform: translateY(70px);
    }
  }

  .shutters {
    display: flex;
    
    .shutter {
      transform: translateY(0);
    }
  }
}
