.shutters-hide-state {
  .visual-text-wrapper {
    opacity: 1;
  }

  .shutters .shutter {
    transform: translateY(100%);

    &:nth-child(1) {
      transition: all 1s $ease-both;
    }

    &:nth-child(2) {
      transition: all 1s $ease-both 0.1s;
    }

    &:nth-child(3) {
      transition: all 1s $ease-both 0.2s;
    }

    &:nth-child(4) {
      transition: all 1s $ease-both 0.3s;
    }
  }

  .creative-mask-wrapper {
    .creative-mask {
      background-size: 125% auto;
      clip-path: url(#creative-clip-path);
      transition: all 3s $ease-both 0.2s;
    }
  }

  .creative-mask-svg  #creative-path {
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(42);
  }

  .nav {
    opacity: 1;
    transition: all 1s $ease-both;
  }

  .scroll-indicator {
    opacity: 1;
    transition: opacity 1s $ease-both 1s;
    animation: scroll-indicator-animation 4s linear 0s infinite;
  }
}

@keyframes scroll-indicator-animation {
  0% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
}