.visual-text-wrapper-show-state {
  .visual-text-wrapper {
    display: flex;
    opacity: 1;

    h1 {
      span {
        opacity: 1;
        transform: translateY(0);

        &:first-child {
          transition: all 1s $ease-both;
        }

        &:last-child {
          transition: all 1s $ease-both 0.2s;
        }
      }
    }

    p {
      opacity: 1;
      transform: translateY(0);
      transition: all 1s $ease-both 0.6s;
    }
  }

  .shutters {
    display: flex;
    
    .shutter {
      transform: translateY(0);
    }
  }
}
