.works-show-state {
  .creative-mask-wrapper {
    opacity: 0;
    transform: translateY(-1035px);
    transition: all 2s $ease-both;
  }

  .heading-wrapper {
    display: block;
    animation: heading-wrapper-hide-animation 2s $ease-both 0s 1 forwards;

    h2, p, button {
      opacity: 1;
    }
  }

  .selected-projects-text-wrapper {
    display: block;
    opacity: 0;
    animation: selected-projects-text-wrapper-show-animation 2s $ease-both 0.1s 1 forwards;
  }
}

@keyframes heading-wrapper-hide-animation {
  0% {
    transform: translateY(395px);
    opacity: 1;
  }
  100% {
    transform: translateY(-412px);
    opacity: 0;
  }
}

@keyframes selected-projects-text-wrapper-show-animation {
  0% {
    top: 623px;
    opacity: 0;
  }
  100% {
    top: 110px;
    opacity: 1;
  }
}