.works-show-state {
  .creative-mask-wrapper {
    opacity: 0;
    transform: translateY(-1035px);
    transition: all 2s $ease-both;
  }

  .heading-wrapper {
    display: block;
    opacity: 0;
    transform: translateY(-412px);
    transition: all 2s $ease-both 0s;

    &.hide {
      display: none;
    }

    @media screen and (max-width: $root-width) {
      transform: translateY(px2vw(-412px));
    }

    h2, p, button {
      opacity: 1;
    }
  }

  .selected-projects-text-wrapper {
    display: block;
    opacity: 0;
    animation: selected-projects-text-wrapper-show-animation 2s $ease-both 0.1s 1 forwards;

    @media screen and (max-width: 425px) {
      animation: selected-projects-text-wrapper-show-animation-media 2s $ease-both 0.1s 1 forwards;
    }
  }

  .nav {
    align-items: baseline;
    margin: 0;
    padding: 6px 200px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    color: #000000;
    opacity: 1;

    @media screen and (max-width: 1100px) {
      padding: 6px px2vw(140px);
    }

    a {
      font-size: 20px;
    }

    ul li a {
      font-weight: normal;
      font-size: 16px;
    }
  }

  .works {
    display: flex;

    &.show .work {
      transition: all 1s $ease-both!important;
    }

    &.show .work.zoom-in {
      transform: translateY(306px) scale(1.1);

      @media screen and (max-width: 600px) {
        transform: translateY(calc(206px + 16vw)) scale(1.1);
      }
    }

    &.show .work.zoom-out {
      opacity: 0.5;
      transform: translateY(306px) scale(0.9);

      @media screen and (max-width: 600px) {
        transform: translateY(calc(206px + 16vw)) scale(0.9);
      }
    }

    .work {
      opacity: 1;
      transform: translateY(306px);

      @media screen and (max-width: 600px) {
        transform: translateY(calc(206px + 16vw));
      }

      &:nth-child(1) {
        transition: all 2s $ease-both 0.1s;
      }

      &:nth-child(2) {
        transition: all 2s $ease-both 0.2s;
      }

      &:nth-child(3) {
        transition: all 2s $ease-both 0.3s;
      }

      &:nth-child(4) {
        transition: all 2s $ease-both 0.4s;
      }

      &:nth-child(5) {
        transition: all 2s $ease-both 0.5s;
      }
    }
  }
}

@keyframes selected-projects-text-wrapper-show-animation {
  0% {
    top: 623px;
    opacity: 0;
  }
  100% {
    top: 110px;
    opacity: 1;
  }
}

@keyframes selected-projects-text-wrapper-show-animation-media {
  0% {
    top: px2vw(623px);
    opacity: 0;
  }
  100% {
    top: calc(7vw + 42px);
    opacity: 1;
  }
}